* {
  /*reset browser*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #2C2C2C;
    --text-color: #ffffff;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}